<form method="post" action="/TechnicalEquipments/Index">
    <table>
        <tr>
            <td>Введите фильтр(название оборудования)</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr><td><input type="submit" value="Отправить" /></td></tr>
    </table>
</form>
